<!DOCTYPE html>
<html>

<head>
	{% include head.html %}
</head>

<body>

	{% include header.html %}

	<div class="jumbotron jumbotron-fluid bg-dark">
		<div class="container">
			<div class="row flex-column flex-lg-row align-items-lg-center">
				{% include large-brand.html %}
				{% include short-bio.html %}
			</div>
		</div>
	</div>

	<div class="container">
	  <div class="row">
	    <div class="col-12 col-md-3">
	      <img class="mb-2 about-selfie" src="{{ site.baseurl }}/images/me_small.jpg" alt="刘持冰" />
	    </div>
		  <main class="col-12 col-md-9">
				{{ content }}
			</main>
		</div>
	</div>

	{% include footer.html %}

	{% include scripts.html %}

</body>

</html>
