---
layout: layout
---
<%- partial('_partial/index-heading', null, {cache: !config.relative_link}) %>
<%- partial('_partial/posts-list', {posts: page.posts}, {cache: !config.relative_link}) %>
<nav class="pagination">
    <div class="page-item"></div>
    <%- paginator({
      prev_text: '<i class="fas fa-arrow-left mr-1"></i>上一页',
      next_text: '下一页<i class="fas fa-arrow-right ml-1"></i>'
    }) %>
</nav>
