<!DOCTYPE html>
<html>

<head>
	<%- partial('_partial/head') %>
</head>

<body>

	{% include header.html %}

	<div class="jumbotron jumbotron-fluid bg-dark">
		<div class="container">
			<div class="row flex-column flex-lg-row align-items-lg-center">
				{% include large-brand.html %}
				{% include short-bio.html %}
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row">
			<main class="col">
				{{ content }}
			</main>
		</div>
	</div>

	{% include footer.html %}

	{% include scripts.html %}

</body>

</html>