<footer class="container-fluid bg-light border-top pt-1 pb-1 mt-4">
    <span class="d-block d-md-inline">Hosted by
        <a href="https://pages.coding.me" style="font-weight: bold">Coding Pages</a>.
    </span>
    <span class="d-block d-md-inline">Copyright &copy; <%- date(Date.now(), 'YYYY') %> Liu Chibing. All rights reserved.</span>
</footer>