<meta charset='utf-8'>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="keywords" content="刘持冰,刘持冰作曲,刘持冰作品,作曲,作品,中央音乐学院附中,{{ page.title }},{{ page.categories }}">

<link rel="shortcut icon" href="/favicon.ico">
<link rel="Bookmark" href="/favicon.ico">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="{{ site.baseurl }}/bootstrap/css/bootstrap.min.css">

<link rel="stylesheet" href="{{ site.baseurl }}/css/animate.min.css">

<!-- Custom styles -->
<link rel="stylesheet" href="{{ site.baseurl }}/css/custom.css">

<title><%= title %><% if (title) { %> - <% } %><%= sitename %></title>