<div class="jumbotron jumbotron-fluid bg-dark">
	<div class="container">
		<div class="row flex-column flex-lg-row align-items-lg-center">
			<%- partial('_partial/large-brand', {smallLargeBrand: false}, {cache: !config.relative_link}) %>
			<%- partial('_partial/short-bio', {smallLargeBrand: false}, {cache: !config.relative_link}) %>
		</div>
	</div>
</div>