<div class="pt-3 pl-3 pt-lg-0 pl-lg-0 ml-lg-auto">
    <a href="{{ site.baseurl }}/about" class="align-middle">
        <img src="{{ site.baseurl }}/images/me_small_square.jpg" class="rounded-circle round-selfie{% if include.ispost %} post-round-selfie{% endif %}" alt="刘持冰" />
    </a>
    <div class="text-light d-inline-flex flex-column align-middle">
        <span>
            <a href="{{ site.baseurl }}/about" class="remove-a-style">{{ site.brief-about }}</a>
        </span>
        <span>
            <a href="{{ site.baseurl }}/about" style="margin-right: 0.5rem;">查看详细</a>
            访问：
            <a href="http://weibo.com/1721844490/profile" data-toggle="tooltip" data-placement="bottom" title="微博">
                <img src="{{ site.baseurl }}/images/weibo.ico" alt="微博" class="social-icon" />
            </a>
            <a href="http://i.youku.com/i/UMTc0MzQ1MDEy" data-toggle="tooltip" data-placement="bottom" title="优酷">
                <img src="{{ site.baseurl }}/images/youku.png" alt="优酷" class="social-icon" />
            </a>
        </span>
    </div>
</div>