@import "bootstrap-4.4.1/scss/functions";
@import "bootstrap-4.4.1/scss/variables";
@import "bootstrap-4.4.1/scss/mixins";

//for fixed navbar
body {
    padding-top: 3.5rem;
}

.remove-a-style {
    color: #fff;
    text-decoration: none;

    &:hover {
        color: #fff;
        text-decoration: none;
    }
}

.large-brand {
    @extend .remove-a-style;

    img {
        height: 8rem;
        margin: 0 15px 0 15px;
    }
}
.small-large-brand {
    img {
        height: 5rem;
    }
}

.round-selfie {
    height: 3rem;
}
@include media-breakpoint-up(lg) {
    .round-selfie {
	    height: 5rem;
    }
    .small-round-selfie {
        height: 4rem;
    }
}

.social-icon {
    height: 1rem;
    margin-right: 0.25rem;
}

.small-header-bg {
    position: absolute;
    top: 0px;
    right: 0px;
    left: 0px;
    z-index: -1;
    height: 15.5+5rem;
}
@include media-breakpoint-up(lg) {
    .small-header-bg {
        height: 11.5+5rem;
    }
}

.about-selfie {
    width: 50%;
}
@include media-breakpoint-up(lg) {
    .embed-responsive {
        width: 75%;
    }
    
    .about-selfie {
	width: 100%;
    }
}

//====================Pagination Styles==============================

@import "bootstrap-4.4.1/scss/pagination";
.page-number, .extend {
    @extend .page-link;
}
.current.page-number { // CAUTION: these rules are copied from "bootstrap-4.4.1/scss/_pagination.scss" line 45-50!
           // DO NOT FORGET to update these rules when updating bootstrap.
    z-index: 3;
    color: $pagination-active-color;
    background-color: $pagination-active-bg;
    border-color: $pagination-active-border-color;
}


//======================Animations=======================================

.sps--abv {
    animation: fadeOutDown;
    animation-duration: 0.25s;
    animation-fill-mode: both;
}

.sps--blw {
    animation-name: fadeInUp;
    animation-duration: 0.25s;
    animation-fill-mode: both;
    display: inline-block;
}
